<div class="container p-4">
    <div class="row">
        <div class="col-md-4 p-2 card">
            <a href="{{featuredGame.link}}" class="text-decoration-none">
                <h4>{{featuredGame.title}}</h4>
                <img src="{{featuredGame.imgPath}}" alt="{{featuredGame.imgDesc}}" class="img-fluid">
            </a>
        </div>
        <h4 class="col">More Games to Come</h4>

        {{#each gamesList}}
            <div class="col-md-2 p-2">
                <span>{{this.title}}</span>
                <img src="{{this.imgPath}}" alt="{{this.imgDesc}}" class="img-fluid">
            </div>
        {{/each}}
    </div>
</div>
