<h2>{{title}}</h2>
<form action="/survey" method="post" class="col-md-6">

    {{#if formSubmitted}}
        <p class="alert-success mb-3 text-dark p-2">Your survey has been submitted!</p>
    {{/if}}

    <!--    Email input-->
    <div class="mb-3">
        <label for="emailID">Email (optional)</label>
        <input type="email" name="email" id="emailID"
               placeholder="example@mail.com" class="form-control {{#if
                errorMessages.email}}is-invalid{{/if}}" value={{submittedData.email}}>
        <div class="invalid-feedback">{{errorMessages.email}}</div>
    </div>

    <!--    Feedback text input -->
    <div class="mb-3">
        <label for="feedbackID" class="form-label">How do you like our website?</label>
        <textarea name="feedback" id="feedbackID" rows="8" minlength="{{formLimits.minFeedbackLength}}"
                  maxlength="{{formLimits.maxFeedbackLength}}"
                  class="form-control {{#if
                          errorMessages.feedback}}is-invalid{{/if}}">{{submittedData.feedback}}</textarea>
        <div class="invalid-feedback">{{errorMessages.feedback}}</div>
    </div>

    <!--    Rating range input -->
    <div class="mb-3">
        <label for="ratingID" class="form-label">How likely are you to recommend us to a friend?</label>
        <div>
            <span class="float-end">Absolutely!</span>
            Never <input type="range" name="rating" id="ratingID" step="{{formLimits.ratingStep}}"
                         min="{{formLimits.minRating}}" max="{{formLimits.maxRating}}"
                         value="{{submittedData.rating}}"
                         class="form-range {{#if errorMessages.rating}}is-invalid{{/if}}">
            <div class="invalid-feedback">{{errorMessages.rating}}</div>
        </div>
    </div>

    <!--    Top Game Choice radio buttons-->
    <div class="container mb-3 p-0 m-0">
        <p>What game would you like added most?</p>
        <div class="btn-group mb-3 form-check p-0" role="group" aria-label="Basic radio toggle button group">
            {{#each gameChoices}}
                <input type="radio" class="btn-check"
                       name="gameChoice" id="gameChoice{{@index}}" autocomplete="off"
                       value="{{this.name}}"
                       {{#if this.isSelected}}checked{{/if}}>
                <label class="btn btn-outline-primary" for="gameChoice{{@index}}">{{this.name}}</label>
            {{/each}}
        </div>
        <p class="text-danger">
            {{errorMessages.gameChoice}}
        </p>
    </div>


    <!--    Agreed checkbox-->
    <div class="mb-3">
        <input type="checkbox" name="agreed" id="agreedID" value="yes" required
               class="form-check-input {{#if errorMessage.agreed}}is-invalid{{/if}}"
               {{#if submittedAgreed}}checked{{/if}}>
        <label for="agreedID" class="form-check-label is-invalid">I agree to my feedback being shared with the
            developers</label>
        <p class="invalid-feedback">
            {{errorMessages.agreed}}
        </p>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
