<div class="container m-0 mt-2 p-0">
    <h2>{{title}}</h2>
    <div class="d-flex">
        <div class="order-1 bg-dark p-2 mt-3 mb-3 rounded w-25">
            <div class="container mb-3 mt-3">
                <h3>Selected Avatar</h3>
                <img src="{{selectedAvatar.imgPath}}" alt="{{selectedAvatar.imgDesc}}" class="avatarMedium">
            </div>
            <form action="/avatar" method="post" enctype="multipart/form-data">
                <!--    Avatar image upload -->
                <div class="mb-3">
                    <label for="customAvatarImage">Upload Avatar Image:</label>
                    <input type="file" name="customAvatarImage" id="file1"
                           placeholder="Select image"
                           class="form-control {{#if errorMessages.customAvatarImage}}is-invalid{{/if}}">
                    <div class="invalid-feedback">{{errorMessages.customAvatarImage}}</div>
                </div>

                <button type="submit" class="btn btn-warning">Upload File</button>
            </form>
        </div>
        <div class="order-2 container bg-dark m-3 p-2 rounded">
            <h3 class="m-3">Available Avatars</h3>
            <div class="d-flex">
                <a href="/avatar?sort=ascending" class="btn btn-secondary m-2">Sort (A-Z)</a>
                <a href="/avatar?sort=descending" class="btn btn-secondary m-2">Sort (Z-A)</a>
            </div>
            <div class="row">
                <!--Three Images for default Avatars-->
                {{#each avatarsList}}
                    <div class="col-md-3 m-3 p-2">
                        <a href="/avatar?avatarId={{this.id}}">
                        <span>{{this.name}}</span>
                        <img src="{{this.imgPath}}" alt="{{this.imgDesc}}" class="avatarMedium">
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>