{{#if noSettings}}
    <h1>War Game Settings</h1>
    <div class="container">
        <form action="/war" method="post">
            <br/>
            <p>Number of cards to capture for win:</p>
            <div class="btn-group mb-3 form-check" role="group" aria-label="Basic radio toggle button group">
                {{#each victoryConditions}}
                    <input type="radio" class="btn-check"
                           name="victoryConditions" id="victoryConditions{{@index}}" autocomplete="off"
                           value="{{this.name}}" {{#if this.isSelected}}checked{{/if}}>
                    <label class="btn btn-outline-primary" for="victoryConditions{{@index}}">{{this.name}}</label>
                {{/each}}
            </div>
            <br/>
            <p>Number of decks:</p>
            <div class="btn-group mb-3 form-check" role="group" aria-label="Basic radio toggle button group">
                {{#each numberOfDecks}}
                    <input type="radio" class="btn-check"
                           name="numberOfDecks" id="numberOfDecks{{@index}}" autocomplete="off"
                           value="{{this.name}}" {{#if this.isSelected}}checked{{/if}}>
                    <label class="btn btn-outline-primary" for="numberOfDecks{{@index}}">{{this.name}}</label>
                {{/each}}
            </div>

            <!--    Remember my choices checkbox-->
            <div class="w-25 mb-3">
                <input type="checkbox" name="rememberChoices" id="rememberID" value="yes"
                       class="form-check-input" {{#if submittedAgreed}}checked{{/if}}>
                <label for="rememberID" class="form-check-label is-invalid">Remember my choices</label>
            </div>
            <button type="submit" class="btn btn-warning rounded">Start Game</button>
        </form>
    </div>
{{/if}}

{{#if areSettings}}
    <div class="align-content-center">
        <h1 class="text-center">{{title}}</h1>
        <div class="row justify-content-center">
            Remaining cards: {{cardsRemaining}}
            <div class="col-lg-2 p-2">
                <img src="https://deckofcardsapi.com/static/img/back.png" class="rounded mx-auto d-block w-5 p-1"
                     style="width: 125px" alt="">
            </div>
            <div class="col-lg-2">
                {{#if computerCard}}
                    <img src="{{computerCard}}" class="rounded mx-auto d-block w-5 p-1" id="computerCard" alt="">{{/if}}
            </div>
            Captured cards: {{computerCaptures.length}}
            <img src="{{computerCaptures.[0].image}}" class="rounded w-5 p-1"
                 style="width: 125px" alt="">
        </div>
        <p class="text-center text-bg-success">The result is: {{result}}</p>
        <div class="row justify-content-center">
            Remaining cards: {{cardsRemaining}}
            <div class="col-lg-2 p-2">
                <img src="https://deckofcardsapi.com/static/img/back.png" class="rounded mx-auto d-block w-5 p-1"
                     style="width: 125px" alt="">
            </div>
            <div class="col-lg-2">
                {{#if playerCard}}
                    <img src="{{playerCard}}" class="rounded mx-auto d-block w-5 p-1" id="playerCard" alt="">{{/if}}
            </div>
            Captured cards: {{playerCaptures.length}}
            <img src="{{playerCaptures.[0].image}}" class="rounded w-5 p-1"
                 style="width: 125px" alt="">
        </div>

        {{#if gameNotOver}}
            <a href="/war?draw=player1" class="btn btn-warning rounded">Draw Card</a>
        {{/if}}
    </div>
{{/if}}
